html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
}

.banking-grid{
    display: grid;
    grid-template-areas: 'header','main','footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh;
}

header{
grid-area: 'header';
background-color: aqua;
color: brown;
justify-content: center;
font-size: 50px;
}
main{
    grid-area: 'main';
    background-color: aquamarine;
    color: black;
    justify-content: center;
    font-size: 30px;
}
footer{
    grid-area: 'footer';
    background-color: blanchedalmond;
    color: black;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;

}